Django==5.2.3
djangorestframework==3.16.0
openai==1.88.0
protobuf<5.0.0,!=3.20.0,!=3.20.1
python-decouple==3.8
python-dotenv==1.1.0
PyYAML==6.0.2
PyYAML==6.0.2
spacy==3.6.1
vaderSentiment==3.3.2
vaderSentiment==3.3.2
numpy==1.22.4
google-generativeai==0.5.4
pandas==2.2.2
django-cors-headers
blis==0.7.9
gunicorn